table {
  border-collapse: collapse;
}

h1 {
  background-color: #387D22;
}

input:not(:last-child, [type="radio"], [type="checkbox"]),
textarea {
  width: 50%;
}

textarea::placeholder {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}
