<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baitap</title>
    <link rel="stylesheet" href="./flex.css">
</head>
<body>
    <div class="container">
        <div class="main">    
            <div class="main__image">
                <!-- <img src="" alt="800x400"> -->
            </div>
            <div class="main__content">
                <h2>Titre de l'article</h2>
                <p>Lorem ipsum dolor sit amet consecteur adipisicing elit. Aspernatur quos culpa assumenda eaque, incidunt optio quia architecto fuga quas quibusdam praesentium fuga quas quibusdam praesentium possimus consectetur dolores facere expedita. Debitis consequatur qui unde.</p>
                <p class="main__content -signed">Par Jean-Michel Auteur</p>
            </div>  
        </div>

        <div class="sub">
            <div class="sub__item">    
                <div class="sub__image">
                    <!-- <img src="" alt="300x150"> -->
                </div>
                <div class="sub__content">
                    <h2>Titre de l'article</h2>
                    <p>Lorem ipsum dolor sit amet consecteur adipisicing elit. Aspernatur quos culpa assumenda eaque, incidunt optio quia architecto fuga quas quibusdam praesentium fuga quas quibusdam</p>
                    <p class="sub__content -signed">Par Jean-Michel Auteur</p>
                </div>
            </div>
            <div class="sub__item">    
                <div class="sub__image">
                    <!-- <img src="" alt="300x150"> -->
                </div>
                <div class="sub__content">
                    <h2>Titre de l'article</h2>
                    <p>Lorem ipsum dolor sit amet consecteur adipisicing elit. Aspernatur quos culpa assumenda eaque, incidunt optio quia architecto fuga quas quibusdam praesentium fuga quas quibusdam</p>
                    <p class="sub__content -signed">Par Jean-Michel Auteur</p>
                </div>
            </div>
            <div class="sub__item">    
                <div class="sub__image">
                    <!-- <img src="" alt="300x150"> -->
                </div>
                <div class="sub__content">
                    <h2>Titre de l'article</h2>
                    <p>Lorem ipsum dolor sit amet consecteur adipisicing elit. Aspernatur quos culpa assumenda eaque, incidunt optio quia architecto fuga quas quibusdam praesentium fuga quas quibusdam</p>
                    <p class="sub__content -signed">Par Jean-Michel Auteur</p>
                </div>
            </div>
        </div>  
    </div>
</body>
</html
