body {
  font-family: sans-serif;
  font-size: 15px;
  background-color: #eeeeee;
}

a:-webkit-any-link {
  color: #777777 !important;
  cursor: pointer;
  text-decoration: none;
}

.menu {

  &__item {
    list-style-type: none;
    padding: 0;
    
    li {
      width: 300px;
  
      &::after {
        position: absolute;
        top: 40%;
        right: 5px;
        z-index: 99;
        display: inline-block;
        width: 0;
        height: 0;
        color: #e67d22;
        content: '';
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #e67d22;
        opacity: 0;
        transition: all 0.3s ease 0s;
      }

      .menu-item {
        position: relative;
        display: flex;
        cursor: default;
        margin-bottom: 2px;
  
        &.-has-sub {
          border: transparent solid 5px;
          border-top: 0;
          border-bottom: 0;
  
          & > .menu-item__content h2 { text-transform: uppercase !important; }
        }
 
        &.-active {
          z-index: 99;
          color: #e67d22;
          border-color: #e67d22 !important;
          box-shadow: 0px 0px 13px 0px rgba(0, 0, 0 , 0.14);
    
          &::before,
          &:after {
            position: absolute;
            top: 40%;
            z-index: 99;
            width: 0;
            height: 0;
            color: #e67d22;
            content: '';
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            opacity: 1;
          }
    
          &::before {
            left: 0;
            border-left: 10px solid #e67d22;
          }
      
          &:after {
            right: 0;
            border-right: 10px solid #e67d22;
          }
        }
  
        &__icon,
        &__content {
          background-color: #fff;
        }
  
        &__icon {
          padding: 15px 10px;
          padding-left: 30px;
          font-size: 30px;
  
          i { font-size: 25px ;}
        }
  
        &__content {
          width: 100%;
  
          h2 { margin-bottom: 5px; }
  
          p { margin-top: 0; }
        }
  
        &__children {
          position: absolute;
          right: -300px;
          z-index: 999;
          opacity: 0;
          transition: all 0.3s ease 0s;

          .menu-item__content {
            text-transform: capitalize;
          }
        }
  
        &__search {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 270px;
          height: 50px;
          padding: 5px;
          margin-left: 5px;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          background-color: #fff;
  
          .search__item {
            border-radius: 0;
            border: 2px #eeeeee solid;

            #search {
              padding: 10px;
              border: 1px solid #c2bbbb;
            }
          }
  
          .fa-search {
            padding: 10px;
            font-size: 25px;
            color: #fff;
            background-color: #e67d22;
          }
        }
      }

      &:hover {
    
        & > .menu-item {
          & > .menu-item__icon,
          & > .menu-item__content {
            color: #e67d22;
          }        
        }
      }
    }

    .-has-child {
      position: relative;

      &:hover {
        
        &:after {
          right: 0;
          opacity: 1;
        }

        & > .menu-item__children {
          top: 0;
          right: -305px;
          opacity: 1;

          & .menu__item { border-left: 5px solid #e67d22; }
        }
      }
    }
    
  }
}